.registrationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
button
{
    margin: 15px;
}
.form-label{
    font-size: larger;
    color: black;
    font-weight: 300;
}