<p>stringinterpolation works!</p>
<div style="text-align: center;"></div>
<!-- <input type="text" value="String"><br>
<input type="text" value={{histring}}><br>
<h1>My Name length: {{histring.length}}</h1> -->
 <!-- <h1>My Name length: {{histring.toUpperCase()}}</h1> -->
<!-- <h1>My Name length: {{histring.toLowerCase()}}</h1>
<h1>My Name from method: {{getMyName()}}</h1>
 <h1>My Name is: {{histring}}</h1>
<h1>My Name from emp object: {{emp.name}}</h1>
<h1>My Age from emp object: {{emp.age}}</h1>
<h1>My emp Object from emp object: {{emp|json}}</h1>
<h1>expression{{2+5+6}}</h1>
<h1>{{histring|uppercase}}</h1>-->
<h1>{{emp[1].name}}</h1> 

<img src="{{url}}":width="500px" height="300">
<!-- <img [src]=b height="500px" width="500px">  -->

